.loginFormContainer {
  height: 100dvh;
  background-color: #18122b;
}

.loginFormMain {
  min-width: 280px;
}

.loginForm {
  background-color: white;
}

.loginBtn {
  background-color: #18122b;
  color: white;
}

.form-control {
  border: 1px solid #18122b;
  border-radius: 5px;
}

.loginBtn:hover {
  border: 1px solid #18122b;
  color: black;
}
